<a href="https://colab.research.google.com/github/AyeshaAreej/Python-Practice-Course/blob/main/Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
#Data Assignement
import pandas as pd 
mydataset={
    'Name':["Ayesha","Maham","Ali","Kiran","Khizar","Hina","John","Ilyana","Zain"],
    'Gender':['F','F','M','F','M','F','M','F','M'],
    'age':[23,8,15,24,3,34,12,40,6]
}

df=pd.DataFrame(mydataset)
print(df)

     Name Gender  age
0  Ayesha      F   23
1   Maham      F    8
2     Ali      M   15
3   Kiran      F   24
4  Khizar      M    3
5    Hina      F   34
6    John      M   12
7  Ilyana      F   40
8    Zain      M    6

In [9]:
df.head()

     Name Gender  age
0  Ayesha      F   23
1   Maham      F    8
2     Ali      M   15
3   Kiran      F   24
4  Khizar      M    3

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    9 non-null      object
 1   Gender  9 non-null      object
 2   age     9 non-null      int64
dtypes: int64(1), object(2)
memory usage: 344.0+ bytes
None

In [11]:
#Part 1 
#Classifing gender data, class 1 for Mail and class 0 for female 
for x in df.index:
  if df.loc[x,"Gender"]=='M':
     df.loc[x,"Gender"]='1'
  elif df.loc[x,"Gender"]=='F':
       df.loc[x,"Gender"]='0'
  else:
    df.loc[x,"Gender"]=' '

print(df)

     Name Gender  age
0  Ayesha      0   23
1   Maham      0    8
2     Ali      1   15
3   Kiran      0   24
4  Khizar      1    3
5    Hina      0   34
6    John      1   12
7  Ilyana      0   40
8    Zain      1    6

In [12]:
#Adding new column named as class having values 1 if age is greater than 30 otherwise 0
newCol = []
for x in df.index:
  if df.loc[x,"age"]>30:
    newCol.append(1)
  else:
    newCol.append(0)
df['Class'] = newCol

print(df)

     Name Gender  age  Class
0  Ayesha      0   23      0
1   Maham      0    8      0
2     Ali      1   15      0
3   Kiran      0   24      0
4  Khizar      1    3      0
5    Hina      0   34      1
6    John      1   12      0
7  Ilyana      0   40      1
8    Zain      1    6      0

In [13]:
#Dividing age group in 0, 1 and 2 class based on specified range
for x in df.index:
  if df.loc[x,"age"]<10:
     df.loc[x,"age"]=0
  elif df.loc[x,"age"]<30:
       df.loc[x,"age"]=1
  else:
    df.loc[x,"age"]=2

print(df)

     Name Gender  age  Class
0  Ayesha      0    1      0
1   Maham      0    0      0
2     Ali      1    1      0
3   Kiran      0    1      0
4  Khizar      1    0      0
5    Hina      0    2      1
6    John      1    1      0
7  Ilyana      0    2      1
8    Zain      1    0      0