<a href="https://colab.research.google.com/github/AyeshaAreej/Python-Practice-Course/blob/main/PandasPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [63]:
from google.colab import drive

In [64]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [65]:
path='/content/drive/MyDrive/Colab Notebooks/datasets/IRIS.csv'
path1='/content/drive/MyDrive/Colab Notebooks/datasets/dirtydata.csv'

In [66]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import warnings 
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelBinarizer

In [67]:
data=pd.read_csv(path)
#if excel file
#df=pd.read_excel(path)
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [69]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [70]:
data1=data["sepal_length"]
print(data1)
#Or
#data.sepal_length

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

**Slicing Data**

In [71]:
data[0:3]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

In [72]:
#Selecting last element in list 
#Slice starts at last element and ends at end of list
data[-1:]

     sepal_length  sepal_width  petal_length  petal_width         species
149           5.9          3.0           5.1          1.8  Iris-virginica

In [73]:
#iloc[row slicing,column slicing]
#list 3 rows and 4 columns
#data.iloc[0:3,1:4]
#1st 3 records and all columns
data.iloc[0:3,0:]
#Select all columns for rows of index values 0 and 10
#data.iloc[[0,10],:]

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa

**Filtering Data**

In [74]:
#Using an array index with boolean expressions
data_filtered=data[(data.sepal_length>=5.0) &
(data.petal_length >=5.0)]
print(data_filtered)
print(data_filtered.shape)

     sepal_length  sepal_width  petal_length  petal_width          species
77            6.7          3.0           5.0          1.7  Iris-versicolor
83            6.0          2.7           5.1          1.6  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
101           5.8          2.7           5.1          1.9   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica
103           6.3          2.9           5.6          1.8   Iris-virginica
104           6.5          3.0           5.8          2.2   Iris-virginica
105           7.6          3.0           6.6          2.1   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
108           6.7          2.5           5.8          1.8   Iris-virginica
109           7.2          3.6           6.1          2.5   Iris-virginica
110           6.5          3.2           5.1          2.0   Iris-virginica
111           6.4          2.7           5.3          1.9   Iris-virginica
112           6.8          3.0           5.5          2.1   Iris-virginica
113           5.7          2.5           5.0          2.0   Iris-virginica
114           5.8          2.8           5.1          2.4   Iris-virginica
115           6.4          3.2           5.3          2.3   Iris-virginica
116           6.5          3.0           5.5          1.8   Iris-virginica
117           7.7          3.8           6.7          2.2   Iris-virginica
118           7.7          2.6           6.9          2.3   Iris-virginica
119           6.0          2.2           5.0          1.5   Iris-virginica
120           6.9          3.2           5.7          2.3   Iris-virginica
122           7.7          2.8           6.7          2.0   Iris-virginica
124           6.7          3.3           5.7          2.1   Iris-virginica
125           7.2          3.2           6.0          1.8   Iris-virginica
128           6.4          2.8           5.6          2.1   Iris-virginica
129           7.2          3.0           5.8          1.6   Iris-virginica
130           7.4          2.8           6.1          1.9   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
132           6.4          2.8           5.6          2.2   Iris-virginica
133           6.3          2.8           5.1          1.5   Iris-virginica
134           6.1          2.6           5.6          1.4   Iris-virginica
135           7.7          3.0           6.1          2.3   Iris-virginica
136           6.3          3.4           5.6          2.4   Iris-virginica
137           6.4          3.1           5.5          1.8   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
140           6.7          3.1           5.6          2.4   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica
142           5.8          2.7           5.1          1.9   Iris-virginica
143           6.8          3.2           5.9          2.3   Iris-virginica
144           6.7          3.3           5.7          2.5   Iris-virginica
145           6.7          3.0           5.2          2.3   Iris-virginica
146           6.3          2.5           5.0          1.9   Iris-virginica
147           6.5          3.0           5.2          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica
(46, 5)

In [75]:
#A data frames columns can be queried with a boolean expression.
#Every frame has the module query() as one of its objectsmembers.
data_filtered =data.query('sepal_length>5.0')
print(data_filtered)
print(data_filtered.shape)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
5             5.4          3.9           1.7          0.4     Iris-setosa
10            5.4          3.7           1.5          0.2     Iris-setosa
14            5.8          4.0           1.2          0.2     Iris-setosa
15            5.7          4.4           1.5          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[118 rows x 5 columns]
(118, 5)

**Missing Values**

In [76]:
#Checking for missing values
data.isnull() # Returns a boolean matrix, if the value is NaN then True otherwise False

     sepal_length  sepal_width  petal_length  petal_width  species
0           False        False         False        False    False
1           False        False         False        False    False
2           False        False         False        False    False
3           False        False         False        False    False
4           False        False         False        False    False
..            ...          ...           ...          ...      ...
145         False        False         False        False    False
146         False        False         False        False    False
147         False        False         False        False    False
148         False        False         False        False    False
149         False        False         False        False    False

[150 rows x 5 columns]

In [77]:
data.isnull().sum() #Return column name along with number of Nan values

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [78]:
#Droping Missing Values
#axis=0 for removing rows having missing values and 1 for removing columns
#how='all' remove only if all values of a row or columns are Nan 
#thresh=5  then the rows having less than 5 realvalues will be dropped.
# subset=[C]: we have 4 columns A,B,C and D then if we specify subset=[C] then only the rows that have their C value as NaN will be removed.
#inplaceBy default no changes will be made to your dataframe. So if you want these changes to reflect onto your dataframe then you need to use inplace = True

#data.dropna()
data.dropna(inplace=True,axis=0,how='any',thresh=1,subset=['petal_length'])

**Joinng Data**

In [79]:
#We can join, merge, and concat dataframe using different methods
# df.concat(),df.merge(),df.join()
#Concatinating

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3'], 'C': ['C0', 'C1', 'C2', 'C3'], 'D': ['D0', 'D1', 'D2', 'D3']},index = [0, 1, 2, 3])

#Creating second dataframe
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],'B': ['B4', 'B5', 'B6', 'B7'], 'C': ['C4', 'C5', 'C6', 'C7'], 'D': ['D4', 'D5', 'D6', 'D7']}, index = [4, 5, 6, 7])

# Concatenating the dataframes
pd.concat([df1, df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [80]:
# Merging the dataframes
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 'C': ['C0', 'C1', 'C2', 'C3'],'D': ['D0', 'D1', 'D2', 'D3']}) 
pd.merge(left, right, how ='inner', on ='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

**Agreggate Data**

In [81]:
import numpy as np
#Agreggate Data:Dataframe.aggregate() function is used to apply some aggregation across one or more column.
df = pd.DataFrame({'A':[1, 2, 3],'B':[4, 5, 6],'C':[7, 8, 9],'D': [np.nan, np.nan, np.nan]})

#Aggregate these functions over the rows.
df.agg(['sum', 'min'])

#Different aggregations per column
df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})

#Aggregate over the columns.
df.agg("sum", axis="columns")

0    12.0
1    15.0
2    18.0
dtype: float64

**Pandas Series, Labels and Dataframes**

In [82]:
#Series
a=[1,3,5]
myvar=pd.Series(a)
myvar
#indexing
myvar[1]

#labeling
myvar1=pd.Series(a, index=["X","Y","Z"])
myvar1
myvar1["Z"] #This label can be used to access a specified value.

#Key/Value Objects as Series
values={"day1":310,"day2":410,"day3":510}
mydata=pd.Series(values)
mydata

#Create a series using only data from day 1 and day 2
mydata=pd.Series(values, index=["day1","day2"]) 
mydata

#3 Data frames:Data sets in Pandas are usually multi-dimensional tables, called DataFrames.
#Creating data frame
data={
    "calories":[310,410,510],
    "duration":[45,40,50]
}
df=pd.DataFrame(data)
df.loc[0]
#When using [], the result is a Pandas DataFrame.
df.loc[[0,1]]

#Pandas DataFrame: Working with Named Index
df=pd.DataFrame(data, index=["day1","day2","day3"])
df
#df.loc["day2"]
df.tail(2)

      calories  duration
day2       410        40
day3       510        50

**Data Cleaning**

In [130]:
# Data cleaning means fixing bad data in your data set,
# Bad data could be:Empty cells,Data in wrong format,Wrong data,Duplicates
#Using dirtydata set
ddf=pd.read_csv(path1)
#print(ddf.isnull())
#print(ddf.isnull().sum())
#ddf

#(1) Empty Cells: Have 3 options (1 Remove rows),(2 Replace Empty Value), (3 Replace only specified column with mean median or mode)
#1 Remove rows
new_ddf=ddf.dropna(axis=0 ) #removes roes 22 18 and 28
#print(new_ddf.to_string())

#2 Replace Empty Value
new_ddf1=ddf.fillna(130)
ddf.loc[22,"Date"]="'2020/12/22'" #replace date's Nan value with estimated dae date 
#print(new_ddf1)

#3  Replace only specified column
#ddf["Calories"].fillna(130,inplace=True) #replace calories missing value with 130

#Replace with mean median or mode
x=ddf["Calories"].mean()  #same syntax for median and mode
ddf["Calories"].fillna(x, inplace=True)
#ddf

#(2) Cleaning data of wrong format 2 options (1 remove) (2 convert all cells to same format)
#1 Remove row
newddf2=ddf.dropna(subset=["Date"])
print(newddf2) #no impact as now no empty cell for date column
ddf["Date"]=pd.to_datetime(ddf["Date"])
print(ddf)

#(3) Wrong Data: row 7's duration column hace value 450 which seems tobe a typo so better to replace it
ddf.loc[7,"Duration"]=45
ddf.head(10)

#correcting the wrong data by creating rule such as creating boundaries for legal values and replace values that are outside boundary
for x in ddf.index:
  if ddf.loc[x,"Duration"]>60:
    ddf.loc[x,"Duration"]=60


#Correcting the wrong data by removing the rows
for x in ddf.index:
  if ddf.loc[x,"Duration"]>60:
    ddf.drop(x,"Duration")

#(4) Removing Duplicate rows:
print(ddf.duplicated()) # row 11 and 12 are duplicate rows
ddf.drop_duplicates(inplace=True)
ddf

#Data Correlation
ddf.corr()
ddf.head()

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130    409.10
1         60  '2020/12/02'    117       145    479.00
2         60  '2020/12/03'    103       135    340.00
3         45  '2020/12/04'    109       175    282.40
4         45  '2020/12/05'    117       148    406.00
5         60  '2020/12/06'    102       127    300.00
6         60  '2020/12/07'    110       136    374.00
7        450  '2020/12/08'    104       134    253.30
8         30  '2020/12/09'    109       133    195.10
9         60  '2020/12/10'     98       124    269.00
10        60  '2020/12/11'    103       147    329.30
11        60  '2020/12/12'    100       120    250.70
12        60  '2020/12/12'    100       120    250.70
13        60  '2020/12/13'    106       128    345.30
14        60  '2020/12/14'    104       132    379.30
15        60  '2020/12/15'     98       123    275.00
16        60  '2020/12/16'     98       120    215.20
17        60  '2020/12/17'    100       120    300.00
18        45  '2020/12/18'     90       112    304.68
19        60  '2020/12/19'    103       123    323.00
20        45  '2020/12/20'     97       125    243.00
21        60  '2020/12/21'    108       131    364.20
22        45  '2020/12/22'    100       119    282.00
23        60  '2020/12/23'    130       101    300.00
24        45  '2020/12/24'    105       132    246.00
25        60  '2020/12/25'    102       126    334.50
26        60      20201226    100       120    250.00
27        60  '2020/12/27'     92       118    241.00
28        60  '2020/12/28'    103       132    304.68
29        60  '2020/12/29'    100       132    280.00
30        60  '2020/12/30'    102       129    380.30
31        60  '2020/12/31'     92       115    243.00
    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130    409.10
1         60 2020-12-02    117       145    479.00
2         60 2020-12-03    103       135    340.00
3         45 2020-12-04    109       175    282.40
4         45 2020-12-05    117       148    406.00
5         60 2020-12-06    102       127    300.00
6         60 2020-12-07    110       136    374.00
7        450 2020-12-08    104       134    253.30
8         30 2020-12-09    109       133    195.10
9         60 2020-12-10     98       124    269.00
10        60 2020-12-11    103       147    329.30
11        60 2020-12-12    100       120    250.70
12        60 2020-12-12    100       120    250.70
13        60 2020-12-13    106       128    345.30
14        60 2020-12-14    104       132    379.30
15        60 2020-12-15     98       123    275.00
16        60 2020-12-16     98       120    215.20
17        60 2020-12-17    100       120    300.00
18        45 2020-12-18     90       112    304.68
19        60 2020-12-19    103       123    323.00
20        45 2020-12-20     97       125    243.00
21        60 2020-12-21    108       131    364.20
22        45 2020-12-22    100       119    282.00
23        60 2020-12-23    130       101    300.00
24        45 2020-12-24    105       132    246.00
25        60 2020-12-25    102       126    334.50
26        60 2020-12-26    100       120    250.00
27        60 2020-12-27     92       118    241.00
28        60 2020-12-28    103       132    304.68
29        60 2020-12-29    100       132    280.00
30        60 2020-12-30    102       129    380.30
31        60 2020-12-31     92       115    243.00
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2020-12-01    110       130     409.1
1        60 2020-12-02    117       145     479.0
2        60 2020-12-03    103       135     340.0
3        45 2020-12-04    109       175     282.4
4        45 2020-12-05    117       148     406.0

**Applying Mutli Linear Regression Model**

In [143]:
X = ddf.iloc[:, [0,2,3]].values
Y = ddf.iloc[:, 4].values

# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 1/3, random_state = 50)

# Fitting Multiple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

# Predicting the Test set results
y_pred = regressor.predict(X_test)
y_pred

from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

-5.459873795245154

In [84]:
#Selecting species and plot columns from dataframe
data=pd.read_csv(path)
print(data[["sepal_length","sepal_width"]])
#Fliping the order
#print(data[["sepal_width","sepal_length"]])

     sepal_length  sepal_width
0             5.1          3.5
1             4.9          3.0
2             4.7          3.2
3             4.6          3.1
4             5.0          3.6
..            ...          ...
145           6.7          3.0
146           6.3          2.5
147           6.5          3.0
148           6.2          3.4
149           5.9          3.0

[150 rows x 2 columns]

In [85]:
data["species"].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: species, dtype: int64

In [86]:
rows, col = data.shape
print("Rows : %s, column : %s" % (rows, col))

Rows : 150, column : 5

**Data Spliting (train,test)**

In [89]:


X = StandardScaler().fit_transform(x)
Y = LabelBinarizer().fit_transform(y)

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.5, random_state=150)

**Linear Regression Model**